<h1>幫你選清單</h1>
<br />
<h1>幫你選清單</h1>
<br />

<h2>步驟1</h2>
<div><label>輸入預算</label><input type="text"/></div>
<h2>步驟2</h2>
<div><label>剔除你討厭的</label>
    <table>
        <tr>
            <td>
                商品圖1
            </td>
            <td>
                商品圖2
            </td>
            <td>
                商品圖3
            </td>
            <td>
                商品圖4
            </td>
        </tr>
        <tr>
            <td>
                商品圖5
            </td>
            <td>
                商品圖6
            </td>
            <td>
               商品圖7
            </td>
            <td>
                商品圖8
            </td>
        </tr>
    </table>
</div>
<h2>步驟3</h2>
<div>
    <label>確認訂單</label>
<script>

</script>

@section Scripts {

    <script src="~/js/site.min.js"></script>

}