<style>
    .container py-5 {
        position: absolute;
    }

    .form-inline.my-2.my-lg-0 {
        position: relative;
        bottom: 45px;
        width: 300px;
    }

    .form-control {
        border-radius: 5%;
    }

    /*.btn-secondary {
                padding: 0.375rem 0.75rem;
                font-size: 0.9rem;
        }*/
</style>

<main id="main">
    <section id="hero" class="hero d-flex align-items-center section-bg">


        <!-- 零售起點 -->
        <div class="modal fade"
             id="templatemo_search"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="w-100 pt-1 mb-5 text-right">
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
            </div>
        </div>

        <!-- Start Content -->
        <div class="container py-5">
            <form class="form-inline my-2 my-lg-0" role="search" method="get" action="/Search/SearchList" target="_blank">
                <div class="input-group">
                    <input type="text" class="form-control" name="keyword" placeholder="想查什麼商品呢？">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-secondary fw-bold"><b>搜尋</b></button>
                    </span>
                </div>
            </form>
            <div class="row">
                <!-- 左邊分類列表開始 -->
                <div class="col-lg-2">
                    <ul class="list-unstyled templatemo-accordion py-4">
                        <li class="pb-3">
                            <p class="collapsed d-flex justify-content-between text-decoration-none display-6 fw-bold fw-bolder p-0">
                                <a class="text-decoration-none fw-bold" href="#" @@click="GetProductList()"><b>所有商品</b></a>
                            </p>
                            <ul class="collapse show list-unstyled pl-3" v-for="c in category">
                                <li>
                                    <a class="text-decoration-none fw-bold" href="#" @@click="showCategoryProducts(c.category)">{{c.category}} ({{c.countCategory}})</a>

                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- 左邊分類列表開始結束 -->
                <!-- v-for=" p in product " -->
                <!-- 測試 -->
                <div class="col-lg">
                    <div class="row">
                        <div class="col-md-4" v-for="p in product">
                            <div class="card mb-4 product-wap rounded-0">
                                <!-- 按鈕起點 -->
                                <div class="card rounded-0">
                                    <img class="card-img rounded-0 img-fluid card-img-custom"
                                         :src="'data:image/png;base64,'+p.img"
                                         alt="零售商品圖片" />

                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a class="btn btn-danger text-white"
                                                   href="#"
                                                   @@click.prevent="addToChart(p)">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn btn-danger text-white mt-2" href="#">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn btn-danger text-white mt-2" href="#">
                                                    <i class="fas fa-cart-plus"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- 按鈕終點 -->
                                <div class="card-body">
                                    <a href="shop-single.html"
                                       class="h2 text-decoration-none fw-bold">{{p.productName}}</a>
                                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                        <li class="pt-2">
                                            <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                        </li>
                                    </ul>

                                    <p class="text-center mb-0">{{ p.price }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 零售終點 -->
    </section>
</main>



@section Scripts{
    <script src="~/axios/axios.min.js"></script>
    <script src="~/js/vue.min.js"></script>
    <script>
        var product = new Vue({
            el: "#main",
            data: {
                product: [],
                category: []
            },
            methods: {
                GetProductList() {
                    axios.get("/Retail/GetRetial").then(response => {
                        this.product = response.data;
                    }).catch(error => {
                        console.log("抓不到產品清單");
                    });

                    axios.get("/Retail/GetCategories").then(response => {
                        this.category = response.data;
                    }).catch(error => {
                        console.log("類別抓不到");
                    });
                },
                showCategoryProducts(category) {
                    axios.get("/Retail/SortProducts?category=" + category)
                        .then(response => {
                            this.product = response.data;
                        })
                        .catch(error => {
                            console.log("無法依分類顯示產品");
                        });
                },
            },

            mounted() {
                this.GetProductList();
            },
        });
    </script>
} 